.home{
  min-height:100vh;
  background:#000;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
}

.home__container{
  width:1200px;
  display:grid;
  grid-template-columns:1fr 350px;
  gap:30px;
}

.home__left{
  background:#111;
  padding:30px;
  border-radius:12px;
  text-align:center;
}

.subtitle{
  color:#aaa;
  margin-bottom:20px;
}

.home__right{
  background:#111;
  border-radius:12px;
  padding:20px;
}

.upload{
  margin-top:25px;
  display:flex;
  flex-direction:column;
  gap:10px;
}

.upload input{
  background:#1a1a1a;
  border:1px solid #333;
  padding:10px;
  border-radius:6px;
  color:white;
}

.upload select{
  background:#1a1a1a;
  border:1px solid #333;
  padding:10px;
  border-radius:6px;
  color:white;
}

.upload button{
  background:#22c55e;
  border:none;
  padding:10px;
  border-radius:6px;
  font-weight:600;
  cursor:pointer;
}